.app-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.aside-wrapper {
  padding: 25px 0;
  min-width: 250px;
}

.page-wrapper {
  padding: 25px;
}

.page-header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.page-heading {
  margin: 0;
  margin-left: 25px;
}

.app-header {
  text-align: center;

  h1 {
    margin: 0;
  }

  span {
    display: block;
  }
}
