.test-header {
  text-align: center;
  h3 {
    font-size: 22px;
  }
}

.progress-wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 25px;
  align-items: center;
}

.progress-text {
  margin: 0;
}

.test-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.form {
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.question-text {
  font-size: 24px;
}

.question-word {
  font-weight: 500;
  color: #c2185b;
}

.last-result {
  margin-top: 75px;
}

.result-info {
  font-size: 24px;
  text-align: center;
}

.finish-page {
  text-align: center;
  margin-top: 75px;
}

.translation-word {
  display: inline-block;
  height: 20px;
  margin-right: 30px;
  position: relative;
  &:not(:last-child) {
    &::after {
      content: '';
      position: absolute;
      right: -17px;
      top: 8px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #b0bec5;
    }
  }
}

.last-translation {
  width: 90%;
  max-width: 800px;
  margin: 75px auto 25px;
}
