<div class="form-wrapper">
  <form class="form" [formGroup]="form" (submit)="handleSubmit()">
    <header class="form-header">
      <h3>Add translation</h3>
    </header>
    <section class="lang-picker">
      <p>From</p>
      <mat-form-field appearance="outline">
        <mat-label>Language</mat-label>
        <mat-select required formControlName="fromLang">
          <mat-option *ngFor="let lang of languagesService.availableLanguages" [value]="lang">
            {{ lang }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p>To</p>
      <mat-form-field appearance="outline">
        <mat-label>Language</mat-label>
        <mat-select required formControlName="toLang">
          <mat-option *ngFor="let lang of languagesService.availableLanguages" [value]="lang">
            {{ lang }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>
    <section class="words-picker" *ngIf="form.valid">
      <section class="divider">
        <div *ngIf="!showAddFromWord">
          <p class="text-info">Select word</p>
          <mat-form-field appearance="outline">
            <input
              type="text"
              placeholder="Select word"
              matInput
              [formControl]="wordFromCtrl"
              [matAutocomplete]="autoFrom"
            />
            <mat-autocomplete #autoFrom="matAutocomplete" [displayWith]="displayWord">
              <mat-option
                *ngFor="let option of wordsFromList"
                [value]="option"
                (click)="selectFromWord(option)"
              >
                {{ option.word }}
              </mat-option>
              <mat-option [value]="{ toggler: true }" (click)="toggleShowFromAddForm()">
                <button mat-raised-button color="primary" class="select-btn">Add new word</button>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div *ngIf="showAddFromWord">
          <app-add-word
            [langInp]="form.value.fromLang"
            [wordInp]="lastFromWord"
            (create)="handleWordFromCreated($event)"
          ></app-add-word>
          <div class="add-word-back-wrapper">
            <button
              mat-raised-button
              color="accent"
              type="button"
              class="add-word-back"
              (click)="toggleShowFromAddForm()"
            >
              Back
            </button>
          </div>
        </div>
      </section>
      <section>
        <div *ngIf="!showAddToWord">
          <p class="text-info">Select word</p>
          <mat-form-field appearance="outline">
            <input
              type="text"
              placeholder="Select word"
              matInput
              [formControl]="wordToCtrl"
              [matAutocomplete]="autoTo"
            />
            <mat-autocomplete #autoTo="matAutocomplete" [displayWith]="displayWord">
              <mat-option
                *ngFor="let option of wordsToList"
                [value]="option"
                (click)="selectToWord(option)"
              >
                {{ option.word }}
              </mat-option>
              <mat-option [value]="{ toggler: true }" (click)="toggleShowToAddForm()">
                <button mat-raised-button color="primary" class="select-btn">Add new word</button>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div *ngIf="showAddToWord">
          <app-add-word
            [langInp]="form.value.toLang"
            [wordInp]="lastToWord"
            (create)="handleWordToCreated($event)"
          ></app-add-word>
          <div class="add-word-back-wrapper">
            <button
              mat-raised-button
              color="accent"
              type="button"
              class="add-word-back"
              (click)="toggleShowToAddForm()"
            >
              Back
            </button>
          </div>
        </div>
      </section>
    </section>
    <button
      mat-raised-button
      color="primary"
      class="form-submit"
      [disabled]="form.invalid || !selectedToWord || !selectedFromWord"
    >
      Add translation
    </button>
  </form>
</div>
