.form-wrapper {
  display: flex;
  justify-content: center;
}

.lang-picker {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 50px;
  margin-top: 25px;
}

.form {
  width: 90%;
  max-width: 800px;
}

.form-header {
  text-align: center;
  h3 {
    font-size: 22px;
  }
}

.words-picker {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;

  mat-form-field {
    width: 100%;
  }
}

.text-info {
  text-align: center;
}

.divider {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: -25px;
    top: -75px;
    height: calc(100% + 50px);
    width: 1px;
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.form-submit {
  width: 100%;
}

.select-btn {
  width: 100%;
}
